.buying{
    padding: 2rem;
    border-radius: 0.5rem;
    border:1px;
    position: sticky;
    top: 80px;
}



.buying__top h3{
    font-size:2rem;
    font-weight: 700;
}


.buying__top h3 span{
    font-size: 1.1rem;
    font-weight: 400;
    color:var(--text-color)
}



.buying__top span{
    font-size: 1.1rem;
    font-weight: 600;
    color:var(--text-color)
}

.buying__top span i{
    color:var(--secondary-color)
}

.buying__top{
    padding-top: 2rem;
    border-bottom: 1px solid rgb(229, 231,235);
}

.buying__form{
    padding-top: 2rem;
}

.buying__form h5{
    margin-bottom: 1rem;
}


.buying__form input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--heading-color);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(229, 231,235);
}





.buying__info-form{
    padding: 1rem;
    border: 1px solid rgb(229, 231,235);
}

.buying__bottom li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.buying__bottom li h5{
    font-size: 1rem;
    font-weight: 500;
}


.buying__bottom li span{
    font-size: 1rem;
    color:var(--text-color);
    font-weight: 500;
}


.buying__bottom{
    margin-top: 1rem;
}


.total h5, .total span{
    color:var(--heading-color) !important;
    font-weight: 700 !important;
    font-size:1.1rem !important;
}







